/* --------  styles -------- */

.divTopNavigation {
    position: fixed;
    top: 0;
    /* left: 1%;
    right: 1%; */
    /* text-align: center; */
    /* height: 96px; */
    background: var(--bgNavH);
    z-index: 1;
    vertical-align: middle;
    width: 90%;
    overflow: auto;
    padding: 20px 0;
    left: 5%;
    right: 5%;
}

.divTopNavigation ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    margin-inline: auto;
    align-items: center;
    /* background-color: #333; */

}

.divTopNavigation li {
    float: left;
    width: 33%;
    margin-inline: auto;
    /* margin: 0 5px; */
    /* width: 25%; */
    /* width: 150px; */

}

.divTopNavigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

}

.divTopNavigation ul li a {
    color: var(--white);
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.divTopNavigation ul li a.active {
    color: var(--active);
}

/* @media (min-width: 768px) {

    .divTag {}
} */
.divTopContent {
    /* height: 300px; */
    width: 100%;
    vertical-align: middle;
    text-align: center;
    /* position: relative; */
    /* justify-content: center; */
}

.divTopContent .divTag {
    position: absolute;
    margin: 5% 5%;
    top: 100px;
    width: 90%;
}

.divTopContent .divTag p {
    font-size: 20px;
    line-height: normal;
    font-family: Instrument Sans;
    font-weight: 500;
    text-align: center !important;
}

.divTopContent .divTag h2 {

    font-size: 44px;
    font-style: normal;
    font-weight: +600;
    line-height: normal;
    text-align: center;
}

.divOverview {
    padding: 1% 5%;
}

.divOverview h2 {
    font-size: 23px;
    line-height: normal;
    text-align: center;

    font-family: Instrument Sans;
    font-weight: 600;
}

.divOverview .divInfo {
    display: flex;
    margin-top: 40px;
}

.divOverview .divInfo img {
    width: 150px !important;
    height: 150px !important;
}

.divOverview .divInfo p {
    display: flex;
    font-size: 16px;
    font-family: Instrument Sans;
    font-weight: 400;
    text-align: left;
    margin: 0 0 0 3rem;
    align-self: center;
}

.divOverview .divFeatures {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
}

.divFeatures .col,
.divFeatures .colhead {
    width: 200px;
    height: 180px;
    text-align: center;
    align-content: center;
    margin: 1rem;
    /* border: solid 1px var(--bggrey); */
    border-radius: 26px;
    padding: 1rem;

}

.divFeatures .col {
    background-color: var(--bgNavH);

}

.divOverview .divFeatures .desc {
    font-size: 14px !important;
    font-family: Instrument Sans;
    font-weight: 400;
    z-index: 1;
    /* color: var(--txtgrey); */

}

.divOverview .divFeatures h3 {
    /* color: var(--txtgrey); */
    font-size: 18px !important;
    font-family: Instrument Sans;
    font-weight: 600;
    word-wrap: break-word;
    z-index: 1;
    line-height: normal;
}

.divFeatures .col h2 {
    font-size: 16px;
    font-family: Instrument Sans;
    font-weight: 600;
    line-height: normal;
    z-index: 1;
    text-align: left;

}

.divFeatures .col p {
    /* color: var(--txtgrey); */
    font-size: 12px !important;
    font-family: Instrument Sans;
    font-weight: normal;
    word-wrap: break-word;
    line-height: normal;

}

.divVision {
    text-align: center;
    margin: 0 5%;
    /* width: 90%; */
}

.divVision p {
    text-align: center !important;
    font-size: 20px;
}

.divVision h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 40px;
}

.divVision button {
    background: var(--bggrey);
    border: solid 1px var(--black);
    border-radius: 10px;
    width: 150px;
    padding: 10px;

}

@media (min-width:768px) {
    .divTopNavigation ul {

        max-width: fit-content;
        margin-inline: auto;

    }

    .divTopNavigation li {
        max-width: fit-content;
        margin: 0 30px;
    }

    .divTopContent .divTag {
        margin: 5% 10%;
        top: 150px;
        width: 80%;
    }

    .divTopContent .divTag p {
        font-size: 36px;
    }

    .divTopContent .divTag h2 {
        font-size: 64px;
    }

    .divOverview {
        margin-top: 125px !important;
        margin: 0 10%;
    }

    .divOverview .divInfo img {
        width: 250px !important;
        height: 250px !important;
    }

    .divOverview h2 {
        font-size: 32px;
    }

    .divOverview .divInfo {
        margin-top: 60px;
    }

    .divOverview .divInfo p {
        font-size: 22px;
        line-height: normal !important;
    }


    .divOverview .divFeatures {
        display: flex;
        flex-wrap: wrap;
        margin: 5rem 0;
    }

    .divFeatures .col,
    .divFeatures .colhead {
        width: 200px;
        height: 180px;
    }

    .divVision {
        margin: 0 15%;
    }

    .divVision p {
        font-size: 22px;
    }

    .divVision h3 {
        font-size: 32px;
        font-weight: 600;

        margin-bottom: 50px;
    }
}


@media (min-width:1120px) {

    .divTopNavigation li {
        max-width: fit-content;
        margin: 0 50px;
    }

    .divTopContent .divTag {
        margin: 5% 10%;
        top: 200px;
        width: 80%;
    }

    .divTopContent .divTag p {
        font-size: 36px;
    }

    .divTopContent .divTag h2 {
        font-size: 64px;
    }

    .divOverview {
        margin-top: 160px !important;
        margin: 0 15%;
    }

    .divOverview .divInfo img {
        width: 350px !important;
        height: 330px !important;
    }

    .divOverview h2 {
        font-size: 42px;
    }

    .divOverview .divInfo {
        margin-top: 60px;
    }


    .divOverview .divInfo p {
        font-size: 26px;
        line-height: normal !important;
    }

    .divOverview .divFeatures {
        display: flex;
        flex-wrap: wrap;
        margin: 10rem 0;
    }

    .divFeatures .col,
    .divFeatures .colhead {
        width: 280px;
        height: 260px;
        padding: 2rem;
    }

    .divOverview .divFeatures .desc {
        font-size: 16px !important;
    }

    .divFeatures .col h2 {
        font-size: 32px;
    }

    .divFeatures .col p {
        /* color: var(--txtgrey); */
        font-size: 16px !important;
    }

    .divVision {
        margin: 0 20%;
    }

    .divVision p {
        font-size: 24px;
        text-align: center;
    }

    .divVision h3 {
        font-size: 42px;
        font-weight: 600;

        margin-bottom: 50px;
    }
}

/* ------------------------------- */